/*resetting default settings --> cross-browser simular*/

body, h1, h2, h3, h4, h5, h6, p, div, ul, li{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #999;
}

#divContainer{
    width: 800px;
    /*links, rechts, zijkanten, 20px automatisch padding*/
    margin: 20px auto;
}

#divHeader{
    width: 800px;
    background: url(.../images/header.jpg); 
    text-align: center;
}

#divHeader h1{
    /*vulling top and bottom*/
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

#divLine {
    /*Voegt een dunnen lijn onder de header*/
    width: 800px;
    background-color: #999;
    height: 1px;
}

#divLinks {
    /*de balk onder de header*/
    width: 800px;
    background-color: #666;
}

#divNav {
    /*de breedte van de anchor tag is 80 (80*4=320) + (7px margin left&richt) --> (14*4=56) + links rechts 1 px border (4*2=8)*/
    /*----> 320 + 56 + 8 = 384!!! */ /*1px vermeerderen brengt de hele orde naar de klote*/
    width: 384px;
    background: #666;
    height: 36px;
    /*links, rechts, top, bottom --> 0 padding*/
    margin: 0 auto;
}

#divNav ul {
    /*bolletjes voor de list items verwijderen*/
    list-style-type: none;
}

#divNav ul li {
    /*plaatst de list items naast elkaar, vanaf links beginnend*/
    float: left;
}

#divNav ul li a {
    /*by default zijn het inline elements --> block van maken zodat we ze als div's kunnen behandelen*/
    display: block;
    height: 20px;
    /*even groot stellen als de heigt van de container*/
    line-height: 20px;
    /*zwarte achtergrond*/
    background-color: #000;
    /*breedte van de anchor tags*/
    width: 80px;
    font-size: 0.80em;
    font-weight: bold;
    /*witte tekst*/
    color: #FFF;
    /*centreert teks in het block*/
    text-align: center;
    /*lijntje onder link weg*/
    text-decoration: none;
    /*7px top, bottom, left, right*/
    margin: 7px;
    /*border radius*/
    /*Maakt de vierkante boxen rond*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*dun zwarte lijn rond de anchor block*/
    border: 1px solid #000;
    /*gradients*/
    /*beginnen met kleur #666 vanaf de top, kleur #333 vanonder in gebruiken*/
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, left top, left bottom, (from#666), to (#333));
}

#divNav ul li a:hover {
    /*background wordt zwart als je erover hovert*/
    background-color: #333;
    background: -moz-linear-gradient(top, #000, #666);
    background: -webkit-gradient(linear, left top, left bottom, (from#000), to (#666));
}

#divContent_area{
    width: 800px;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

#divData {
    /*breedte divData*/
    width: 630px;
    margin: 0 auto;
    background: #b4aeae;
    border: 1px solid #666;
    padding: 8px;
    /*Gradients*/
    /*in het midden (0.5) is er een kleur #333*/
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    /*Shadows*/
    /*1e= x-offset 2e=yoffset 3e= blurradius en kleur van de blur*/
    /*hoe lager het blurgetal, hoe scherper de schaduw zal zijn*/
    box-shadow: 7px 7px 4px #666;
    -moz-box-shadow: 7px 7px 4px #666;
    -webkit-box-shadow: 7px 7px 4px #666;
}

#divFooter{
    background: #222;
    height: 10px;
    width: 800px;
    border-bottom: 1px solid #333;
}